@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap');

/**
 * @author Emile Germain <2356326@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Variables
 * Styles de base
 * Accessibilité
 * Validations
 *
 */

/* ------- Reset ------- */

@import url(normalize.css);

/* ------- Variables ------- */
:root {
    /* Couleurs */
    --couleur-primaire: #ecec3e;
    --couleur-secondaire: #000000;
    --couleur-tertiaire: #ffffff;
}

/* ------- Styles de base ------- */
/* Harmoniser le modèle de boîte avec Box-Sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** Fluidifier les images ***/
img {
    max-width: 100%;
}

/* ------- Accessibilité ------- */

/* Pour cacher visuellement tout en gardant accessible un contenu: screen-reader-only ou visually-hidden */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------- Validations ------- */
.icone {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/good-warning-error.png');
    background-size: cover;
    position: relative;
    top: 3px;
}
.icone--ok {
    background-position: 0 0;
}
.icone--avertissement {
    background-position: 49px 0;
}
.icone--erreur {
    background-position: 99px 0;
}
/* formulaire */

header {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
background: linear-gradient(45deg, rgb(34,165,7), rgb(34,56,190), rgb(34,165,7));
    color: var(--couleur-tertiaire);
    padding: 20px;
    border-radius: 8px;
}
@media (max-width: 600px) {
    .formulaire {
        padding: 15px;
    }
    .formulaire button[type="submit"] {
margin-left: auto;
        margin-right: -50px;
        margin-left: 200px;
        width: 50%;
    }
}