@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap');

/**
 * @author Emile Germain <2356326@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Variables
 * Styles de base
 * Accessibilité
 * Validations
 *
 */

/* ------- Reset ------- */

@import url(normalize.css);

/* ------- Variables ------- */
:root {
    /* Couleurs */
    --couleur-primaire: #ecec3e;
    --couleur-secondaire: #000000;
    --couleur-tertiaire: #ffffff;
}

/* ------- Styles de base ------- */
/* Harmoniser le modèle de boîte avec Box-Sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** Fluidifier les images ***/
img {
    max-width: 100%;
}

/* ------- Accessibilité ------- */

/* Pour cacher visuellement tout en gardant accessible un contenu: screen-reader-only ou visually-hidden */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------- Validations ------- */
.icone {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/good-warning-error.png');
    background-size: cover;
    position: relative;
    top: 3px;
}

.icone--ok {
    background-position: 0 0;
}

.icone--avertissement {
    background-position: 49px 0;
}

.icone--erreur {
    background-position: 99px 0;
}
/* header */
header {
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(45deg, rgb(34, 165, 7), rgb(34, 56, 190), rgb(34, 165, 7));
    color: var(--couleur-tertiaire);
    padding: 20px;
    
    overflow: hidden;
    justify-content: center;
    
}
.brochure{
    color:burlywood;
    font-style: italic;
}
.infos-supp {
    font-size: 0.9em;
    color: var(--couleur-tertiaire);
    margin-top: 10px;
    text-align: justify;
}

.section-titre {
    font-size: 2.5em;
    margin-top: 15px;
    text-align: center;
}

/* formulaire */
.formulaire {
    max-width: 700px;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    color: #333344;
    font-weight: 700;
}
.formatdelabrochure__border {  
border-top: #000000 2px solid;
}
.btn_envoyer{
    margin-right: auto;
    margin-left: auto;
    width: auto;
    display: inline-flex;
    background-color: orangered;
    color: var(--couleur-tertiaire);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
}
.formulaire p {
    margin-bottom: 15px;
    
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
    
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,  
input[type="tel"]:focus,
select:focus {
  
    outline: 4px solid blueviolet;
    outline-offset: 4px;
}
.fieldset-contenu:first-child {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
align-items: center;
justify-content: center;
    width: 100%;
}
.fieldset-contenu:nth-child(2), .fieldset-contenu:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
align-content: center;
justify-content: center;
    width: 100%;
}
.formatdelabrochure__liste {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding: 20px;
}
.formatdelabrochure__item {
    display: flex;
    align-items: center;
    justify-content: center;

}

input[type="radio"]:checked + label {
    outline: 2px solid orangered;
    outline-offset: -4px;
}

.radio_button {
    cursor: pointer;
    display: flex;
     width: 100%;
     height: auto;
    border-radius: 10px;
    padding:  30px 50px;
    border: 2px solid lightgrey;   
    flex-direction: column;
    align-items: center;
}

input[type="radio"]:focus + label {
    outline: 2px solid orangered;
    outline-offset: -4px;
}
.nometprenom {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}
.prenom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.nom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.pays-et-province {
    display: flex;
    gap: 20px;
    margin:auto;
    justify-content: space-evenly;
    width: 100%;
}
.pays, .province {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.legende {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--couleur-secondaire);
    display: inline-flex;
    width: 100%;
}
.legende-icone {
    margin-right: 10px;
    background-color: orangered;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.consentement {
    display: flex;
    align-items: center;
    gap: 10px;
    margin:15px;
    background-color: #ccc;
    padding:10px 50px 10px 5px;
    border-radius: 4px;
    justify-content: center;
    
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;    
}
.fieldset-contenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.exemple {
    color: midnightblue;
    opacity: 0.8;
    gap: 5px;
    font-size: 0.7rem;
}


@media (min-width: 600px) {
    .formulaire {
        padding: 20px;
    }
    
    
    .formatdelabrochure__liste {
        flex-direction: row;
        justify-content: space-around;
        
    }
    .formatdelabrochure__item {      
display: flex;
        align-items: center;
        padding: 10px;
    }
    .radio_button, input[type="radio"] {
        width: 100%;
        align-content: center;
        align-items: center;
    }
    .nometprenom {
        flex-direction: row;
        align-items: center;
    }
    .nom, .prenom {
        width: 50%;
    }
    .pays, .province {
        width: 50%;
    }
    
    .btn_envoyer{
        vertical-align: bottom;
        margin-left: 490px;
        width: auto;
        display: inline-flex;
        background-color: orangered;
        color: var(--couleur-tertiaire);
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 1em;
    gap:10px;
    
    }
}
