@charset "UTF-8";

/* Importation de polices Google Fonts */
/* Polices : Playfair Display (titres), DM Sans (texte) */
/* Exemple : font-family: 'Playfair Display', serif; */
/* Exemple : font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=DM+Sans:wght@300;400;500;600&display=swap');

/**
 * @author Emile Germain <2356326@csfoy.ca>
 *
 * TABLE DES MATIERES
 *
 * Reset
 * Variables
 * Styles de base
 * Accessibilité
 * Validations
 *
 */

/* ------- Reset ------- */

@import url(normalize.css);

/* ------- Variables ------- */
:root {
    /* Couleurs */
    --couleur-primaire: #ecec3e;
    --couleur-secondaire: #000000;
    --couleur-tertiaire: #ffffff;
}

/* ------- Styles de base ------- */
/* Harmoniser le modèle de boîte avec Box-Sizing */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*** Fluidifier les images ***/
img {
    max-width: 100%;
}

/* ------- Accessibilité ------- */

/* Pour cacher visuellement tout en gardant accessible un contenu: screen-reader-only ou visually-hidden */
.screen-reader-only,
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* ------- Validations ------- */
.icone {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../images/good-warning-error.png');
    background-size: cover;
    position: relative;
    top: 3px;
}

.icone--ok {
    background-position: 0 0;
}

.icone--avertissement {
    background-position: 49px 0;
}

.icone--erreur {
    background-position: 99px 0;
}

/* header */
header {
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(45deg, rgb(34, 165, 7), rgb(34, 56, 190), rgb(34, 165, 7));
    color: var(--couleur-tertiaire);
    padding: 20px;
    
    overflow: hidden;
    justify-content: center;
    
}
.brochure{
    color:burlywood;
    font-style: italic;
}
.infos-supp {
    font-size: 0.9em;
    color: var(--couleur-tertiaire);
    margin-top: 10px;
    text-align: justify;
}

.section-titre {
    font-size: 2.5em;
    margin-top: 15px;
    text-align: center;
}

/* formulaire */
.formulaire {
    max-width: 700px;
    margin-top: -50px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 8px;
    font-family: 'DM Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: white;
    color: #333344;
}
.formulaire button[type="submit"] {
    margin-left: auto;
    margin-right: -50px;
    margin-left: 200px;
    vertical-align: bottom;
    width: auto;
    display: inline-flex;
}
.formulaire p {
    margin-bottom: 15px;

}

input,
select {

    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formatdelabrochure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.formatdelabrochure button {

    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid lightgrey;


}

.nometprenom {
    display: flex;
    margin: auto;
    justify-content: space-evenly;;
    width: 100%;
    gap: 10px;
}
.prenom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.nom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}
.legende {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--couleur-secondaire);

    width: 100%;
}
.consentement {
    display: flex;
    align-items: center;
    gap: 10px;
    margin:15px;
    background-color: #ccc;
    padding: 10px;

}

fieldset {
    border: none;
    border-top: #000000 2px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.exemple {
    color: midnightblue;
opacity: 0.8;
    gap: 5px;
    font-size: 0.7rem;
}


@media (max-width: 600px) {
    .formulaire {
        padding: 15px;
    }


    .formatdelabrochure {
        flex-direction: column;
        align-items: center;
    
    }
    .formatdelabrochure button {
        width: 100%;
        padding: 15px;
    }
        .nometprenom {
            flex-direction: column;
            align-items: center;
        }
        .nom, .prenom {
            width: 100%;
        }
}
